<div class="pageheader_container">
    <div class="pageheader">
        <div class="btn-group btn-breadcrumb">
            <a ui-sref="plans" class="btn btn-default">
                <i class="fa fa-map"></i> Plans
            </a>
            <a class="btn">
                <b>{{planVm.title || "New Plan"}}</b>
            </a>
        </div>
    </div>
</div>
<page-content>
    <div class="no-padding">
        <form ng-submit="planVm.save()">
            <div class="card bg-white no-padding card-form">
                <div class="card-header header-line">
                    <h2>
                        {{planVm.title || "New Plan"}}
                        <small>Plan details</small>
                    </h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" ng-model="planVm.newPlan.name" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-8">
                            <label>Amount (GHS)</label>
                            <input type="number" class="form-control" ng-model="planVm.newPlan.amount" />
                        </div>
                        <div class="form-group col-xs-4">
                            <label>Duration (Days)</label>
                            <input type="number" class="form-control" ng-model="planVm.newPlan.duration" />
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success" btn-loading="planVm.saving" data-loading-text="Saving..." type="submit"><i class="fa fa-save"></i> Save Changes</button>
                    <a class="btn btn-default" type="button" href="" ui-sref="plans"><i class="fa fa-ban"></i> Cancel</a>
                </div>
            </div>
        </form>
    </div>
</page-content>