<div class="pageheader_container">
    <div class="pageheader">
        <div class="btn-group btn-breadcrumb">
            <a ui-sref="plans" class="btn btn-default">
                <i class="fa fa-map"></i> Plans
            </a>
            <a class="btn">
                <b>View Plan</b>
            </a>
        </div>
    </div>
</div>

<page-content>
    <div class="containerx">
        <div class="card bg-white">
            <div class="card-header header-line">
                <a ng-if="planVm.plan.id" ng-click="planVm.delete(planVm.plan.id)" class="btn btn-danger pull-right" style="margin-left: 5px;"><i class="fa fa-ban"></i>Delete</a>
                <a ng-if="planVm.plan.id" ng-click="planVm.openForm(planVm.plan.id)" class="btn btn-default pull-right"><i class="fa fa-edit"></i>Edit</a>
                <loading ng-if="planVm.loading" class="pull-right"></loading>
                <h2>
                    {{planVm.plan.name || 'Plan View'}}
                    <small>Plan details.</small>
                </h2>
            </div>
            <div class="card-body">
                <div class="card-body" style="min-height: 340px;">
                    <div class="row">

                        <table class="table table-bordered lbl-val-table">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td colspan="3">{{planVm.plan.name}}</td>
                                </tr>
                                <tr>
                                    <th>Amount (GHS):</th>
                                    <td>{{planVm.plan.amount}}</td>
                                    <th>Duration (Days):</th>
                                    <td>{{planVm.plan.duration}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</page-content>